# Python
__pycache__/
*.py[cod]
*.pyo

# Environment / Secrets
.env
.env.*

# Virtual environment
venv/
.venv/
env/

# Downloads
downloads/*
!downloads/.gitkeep

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
